 <section ng-controller="HomeController">
  
        
            
             <!-----  Slider  ----> 
            <div ng-include="'/modules/core/client/views/template/slider.view.html'"></div>
            
            <!-----  Prise de rendez-vous  ----> 
            <div ng-include="'/modules/core/client/views/template/rendev.view.html'" ng-hide="prise"></div>
         
            <!-----  rendez-vous pris avec succes ---->
            <div ng-include="'/modules/core/client/views/template/rendev.success.view.html'" ng-show="prise"></div>

            <!-----  a propos de nous  ---->
            <div ng-include="'/modules/core/client/views/template/about.view.html'"></div>

            <!-----  Nos Services  ---->
            <div ng-include="'/modules/core/client/views/template/services.view.html'"></div> 
            
            <!-----  Notre Equipe  ---->
            <div ng-include="'/modules/core/client/views/template/team.view.html'"></div> 
            
            <!-----  Contact  ---->
            <div ng-include="'/modules/core/client/views/template/contact.view.html'"></div>

            <!-----  Footer  ---->
            <div ng-include="'/modules/core/client/views/template/footer.view.html'"></div>
            




</section>


