<!---- contact ---->
            <div id="rdvz" class="services"> <!---- rendezVous---->
                
                        <div class="container"> <!---- container---->
                           <h1>Votre Rendez-vous est bien enregistré</h1>

                           <h2>Details</h2>

                           nom : {{nom}}  <br>
                           prenom : {{prenom}} <br>
                           email : {{email}} <br>
                           telephone : {{telephone}} <br>
                           date : {{rendev.date | date:'yyyy-MM-dd'}} <br>
                           heure : {{rendev.heure}}H00 <br>



                                                        </form>
                        </div><!---- container---->
                
                </div> <!---- about---->
           <!---- rendezVous---->